{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'about_us.css' %}">
    <title>Homepage</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/svg+xml">
</head>
{% include 'header.html' %}

<body>
    <div class="about_us_conteiner">
        <div class="info_main">
            Упрости себе жизнь с нашей надежной системой хранения спортивного инвентаря
        </div>
        <div class="about_us_text">
            <h5>Почему именно “Sport Tracker”? Ваш инвентарь. Ваш контроль.</h5>
            В мире, где спортивный инвентарь легко теряется и путается, “Sport Tracker” предлагает порядок и уверенность – возможность эффективно управлять своим оборудованием, как вы всегда хотели. Мы не просто сервис; мы платформа, созданная, чтобы каждый спортивный клуб, команда или индивидуальный спортсмен мог легко отслеживать свое снаряжение. Но почему именно мы? Что отличает “SportTrack” от других систем инвентаризации?<br>
            <h5>1. Полный Контроль в Каждом Клике:</h5>
            Мы верим в важность четкого учета. В “Sport Tracker” вы не просто пользователь. Вы – менеджер своего спортивного инвентаря. Хотите знать, где находится ваш мяч? Проверьте. Нужно отследить сроки обслуживания лыж? Отследите. У нас нет границ. Вы контролируете свой инвентарь, и это действительно имеет значение. Мы делаем управление снаряжением не просто сложной задачей, а реальным инструментом в ваших руках.<br>
            <h5>2. Прозрачность и Точность:</h5>
            Мы понимаем, как важно доверие к данным. Наша платформа разработана с учетом прозрачности и точности. Мы постоянно работаем над улучшением механизмов отслеживания и учета. Наши алгоритмы позволяют каждому элементу инвентаря быть верно зафиксированным. Мы гарантируем, что каждая информация об оборудовании является надежной и актуальной.<br>
            <h5>3. Широкий Спектр Возможностей:</h5>
            От мячей и ракеток до велосипедов и защитного снаряжения, от индивидуального инвентаря до оборудования целой команды — “Sport Tracker” охватывает все. Мы не ограничиваем вас в типах отслеживаемого оборудования. Вы можете добавлять, редактировать и отслеживать все, что необходимо. Мы предоставляем вам инструменты для учета, инвентаризации и планирования.<br>
            <h5>4. Удобство и Простота:</h5>
            Мы создали нашу платформу с мыслью о пользователе. Наш интерфейс интуитивно понятен и удобен в использовании. Вам не нужны специальные навыки или знания для управления инвентарем. Все, что вам нужно – это добавить свой инвентарь в систему. Вы можете отслеживать его с любого устройства в любое время и в любом месте.<br>
            <h5>5. Сообщество Организованных Спортсменов:</h5>
            “Sport Tracker” – это не просто платформа для отслеживания. Это сообщество людей, которые ценят порядок и организацию в спорте. Вы можете легко делиться доступом к инвентарю с членами вашей команды, тренерами или другими ответственными лицами. Мы создаем пространство для эффективного управления и слаженной работы.<br>
            <h5>6. Инновации и Постоянное Развитие:</h5>
            Мы не стоим на месте. Мы постоянно работаем над улучшением нашей платформы, добавляя новые функции и возможности. Мы следим за новейшими технологиями, чтобы сделать “Sport Tracker” еще более эффективным и удобным. Мы стремимся стать идеальной системой для учета и отслеживания спортивного инвентаря.<br>

            <h4>Присоединяйтесь к "Sport Tracker" и возьмите свой инвентарь под полный контроль!</h4>
        </div>
    </div>
</body>
    
<footer>
</footer>

</html>