{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'catalog_cards.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <title>Homepage</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/svg+xml">
</head>
{% include 'header.html' %}
<body>
    <div class="container">
        {% for category in categories %}
        <div class="item">
          <div class="img img-third"></div>
          <div class="card">
            <h3>{{category.name}}</h3>
            <p>{{category.description}}</p>
            <a class="card_link" href="{% url 'voting'%}?id={{category.id}}">Принять заявку</a>
          </div>
        </div>
        {% endfor %}
    </div>
</body>    
<footer>
</footer>

</html>