{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <title>Homepage</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/svg+xml">
</head>
{% include 'header.html' %}

<body>
<div class="body_main">
    <div class="info_main">
        Упрости себе жизнь с нашей надежной системой <br> хранения спортивного инвентаря
    </div>
    <div class="info_sl">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Sodales praesent ante
        praesent id est. Eget eleifend in praesent; cubilia ultrices dolor.
        Blandit faucibus odio tincidunt varius in fringilla. Mollis elit mus
        non dui; iaculis erat pharetra cursus. Non metus porta accumsan aptent
        volutpat metus. Sed potenti gravida vestibulum nisi pellentesque mi
        sociosqu. Ridiculus vestibulum euismod gravida fames egestas egestas.
        Sit at tincidunt ornare proin urna, maximus sapien nisl. Bibendum amet
        metus at ipsum vitae aliquet sagittis condimentum tincidunt. Nulla
        phasellus faucibus habitasse cras vivamus. Vitae montes quis litora
        venenatis fermentum himenaeos curabitur elit. Cubilia magna morbi
        id blandit at facilisi dictum sem. Rhoncus consectetur magnis
        lacus, leo nascetur mollis. Ex conubia blandit primis fusce
        integer. Maximus potenti arcu nunc duis a. Ligula donec
        sociosqu metus purus et tortor himenaeos taciti imperdiet.
        Amet nulla cursus morbi ex parturient elementum semper.
        <img class="main_img" src="{% static 'img/logo.png' %}">
    </div>
</div>
</body>
    
<footer>
</footer>

</html>







