{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="" xmlns="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'about_us.css' %}">
    <title>New voting</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/svg+xml">
</head>
{% include 'header.html' %}
{% if is_auth %}
<body>
    <div class="about_us_conteiner">
        <h1>Создайте заявку на получение инвентаря!</h1>
        <form action="/voting/new" method="post">
            {% csrf_token %}
            <div>
                <p><b>Напиши название предмета</b></p>
                <input type="text" name="about_label" maxlength="100" required id="id_about_label">
            </div>
            <div>
                <p><b>Опиши о чём голосование</b></p>
                <input type="text" name="about_description" maxlength="500" required id="id_about_description">
            </div>
            <div>
                <p><b>Выбери колличество вопросов</b></p>
                <input type="number" name="questions_count" required id="id_questions_count" min="1" max="10" onchange="OnChangeQuestionsCount()" value="1">
            </div>
            <div id="Questions">
                <div id="Question0">
                    <div>
                        <p><b>Напиши вопрос №1</b></p>
                        <input type="text" name="question0" maxlength="500" required placeholder="Вопрос">
                        <p><b>Выбери тип голосования</b></p>
                        <input type="radio" name="type_question0" maxlength="500" required value="one" id="one" checked>
                        <label for="one">Одиночный</label>
                        <input type="radio" name="type_question0" maxlength="500" required value="multi" id="multi">
                        <label for="multi">Множественный</label>
                        <p><b>Выбери колличество вариантов ответа</b></p>
                        <input type="number" name="options_count0" min="1" max="20" required id="id_options_count0" onchange="OnChangeAnswersCount(0)" value="2">
                    </div>
                    <div id="Answers0">
                        <p><input type="text" name="option0_0" maxlength="70" size="70" placeholder="Вариант 1" required></p>
                        <p><input type="text" name="option0_1" maxlength="70" size="70" placeholder="Вариант 2" required></p>
                    </div>
                </div>
                <div id="Question1"></div>
                <div id="Question2"></div>
                <div id="Question3"></div>
                <div id="Question4"></div>
                <div id="Question5"></div>
                <div id="Question6"></div>
                <div id="Question7"></div>
                <div id="Question8"></div>
                <div id="Question9"></div>
            </div>

            <input type="submit" value="Submit" onclick="OnSubmit">
        </form>
    </div>
</body>
<script>
let questions_value = 1
const AnswersCount = [2]
const QuestionsArr = [document.getElementById("Question0").outerHTML]

function OnChangeAnswersCount(id) {
    let text = ""
    let num = document.getElementById("id_options_count" + id).value
    if (AnswersCount[id] != num){
        for(let i = 0; i < num; i++){
            let temp = ''
            if (i < AnswersCount[id]){
                temp = document.getElementsByName("option" + id + "_" + i)[0].value;
            }
            text += '<p><input type=text name="option'+ id + '_' + i + '" maxlength="70" size="70" placeholder="Вариант ' + (i+1) + '" required value=' + temp + '></p>';
        }

        document.getElementById("Answers"+id).innerHTML = text;
        AnswersCount[id] = num;
    }
}

function OnChangeQuestionsCount(){
    let num = Number(document.getElementById("id_questions_count").value)
    if (questions_value != num){
        if (Number(questions_value) <= Number(num)){
            for(let i = questions_value; i < num; i++){
                AnswersCount.push(2);
                document.getElementById("Question" + i).innerHTML = NewQuestion(i);
            }
        } else{
            for(let i = (num); i < questions_value; i++){
                AnswersCount.pop();
                document.getElementById("Question" + (i)).innerHTML = "";
            }
        }
    }
    questions_value = num;
}

function NewQuestion(id){
    return '<div><p><b>Напиши вопрос №'+(id+1)+'</b></p><input type="text" name="question'+id+'" maxlength="500" required placeholder="Вопрос"><p><b>Выбери тип голосования</b></p><input type="radio" name="type_question'+id+'" maxlength="500" required value="one" id="one'+id+'" checked><label for="one'+id+'">Одиночный</label><input type="radio" name="type_question'+id+'" maxlength="500" required value="multi" id="multi'+id+'"><label for="multi'+id+'">Множественный</label><p><b>Выбери колличество вариантов ответа</b></p><input type="number" name="options_count'+id+'" min="1" max="20" required id="id_options_count'+id+'" onchange="OnChangeAnswersCount('+id+')" value="2"></div><div id="Answers'+id+'"><p><input type="text" name="option'+id+'_0" maxlength="70" size="70" placeholder="Вариант 1" required></p><p><input type="text" name="option'+id+'_1" maxlength="70" size="70" placeholder="Вариант 2" required></p></div>';
}
</script>
{% else %}
<body>
    <div class="about_us_conteiner">
        <h1>Создай своё голосование!</h1>
        <h2>Для создания своего голосования нужно зарегистрироваться!</h2>
        <a href="{% url 'sign_in' %}">Войти</a>
        <a href="{% url 'sign_up' %}">Зарегистрироваться</a>
    </div>
</body>
{% endif %}
</html>