{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <title>Homepage</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/svg+xml">
</head>
{% include 'header.html' %}

<body>
  <div class="profile-container">
    <div class="profile-header">
        <img src="user-avatar.jpg" alt="Аватар пользователя" class="profile-avatar">
        <form method="post">
            {% csrf_token %}
            <div class="profile-avatar-actions">
                <button for="avatar-upload" class="profile-change-avatar">Сменить аватар</button>
                <input type="file" id="avatar-upload" accept="image/*" style="display: none;">
            </div>
            <a class="profile-create" href="{% url 'voting/new' %}">Создать голосование</a>
        </form>
      </div>
    <div class="profile-content">
      <div class="profile-info">
        <h2>Личная информация</h2>
        <ul>
          <li>
            <strong>Login:</strong>
            <span class="profile-email">{{ request.user }}</span>
          </li>
          <li>
             <strong>Пароль:</strong>
            <span class="profile-password">********</span>
          </li>
          <a class="exit" href="{% url 'sign_out' %}">Выйти</a>
        </ul>

      </div>
    </div>
  </div>
   <script>

    </script>
</body>
    
<footer>
</footer>

</html>