{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'survey.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <title>Homepage</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/svg+xml">
</head>
{% include 'header.html' %}
<body>
    <div class="container">
    <div class="item">
      <div class="img img-third"></div>
      <div class="card">
        <h3>Parachuting</h3>

        <form id="vote-form">
            <div class="question">
                <p>What type of experience do you prefer?</p>
                <div class="options_cards">
                   <label><input type="radio" name="experience" value="solo"> Solo jump</label><br>
                   <label><input type="radio" name="experience" value="tandem"> Tandem jump</label><br>

                </div>
            </div>

            <div class="question">
                <p>What emotions are you seeking?</p>
                <div class="options_cards">
                    <label><input type="checkbox" name="emotions" value="adrenaline"> Adrenaline</label><br>
                    <label><input type="checkbox" name="emotions" value="calmness"> Calmness</label><br>
                    <label><input type="checkbox" name="emotions" value="excitement"> Excitement</label><br>
                    <label><input type="checkbox" name="emotions" value="relaxation"> Relaxation</label><br>
                </div>
            </div>
            <button type="submit" class="card_link">Vote</button>
        </form>
      </div>
    </div>
</div>

</body>
<footer>
</footer>

</html>